.todas{
    border-radius: 10px;
    background-color: green;
}
.cafe{
    border-radius: 10px;
    background-color: rgb(250, 238, 220);
}
.te{
    border-radius: 10px;
    background-color: rgb(250, 238, 220);
}
.pasteleria{
    border-radius: 10px;
    background-color: rgb(250, 238, 220);
}
.sandwiches{
    border-radius: 10px;
    background-color: rgb(250, 238, 220);
}


.header {

}
.logo {
    width: 30px;
    height: 20px;
}
.logoImage{
    width: 100%;
    height: 100%;
}
