body{
    background-color: rgb(244, 239, 232);
}

div categorias{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


.todas{
    border-radius: 10px;
    background-color: green;
    font-size: 100%;
    color: white;
}
.cafe{
    border-radius: 10px;
    background-color: rgb(250, 238, 220);
    font-size: 100%;
}
.te{
    border-radius: 10px;
    background-color: rgb(250, 238, 220);
    font-size: 100%;
}
.pasteleria{
    border-radius: 10px;
    background-color: rgb(250, 238, 220);
    font-size: 100%;
}
.sandwiches{
    border-radius: 10px;
    background-color: rgb(250, 238, 220);
    font-size: 100%;
}

.header {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}
.headerIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}
.logo {
    width: 100px;
    height: 50px;
    padding-top: 8px;
    background-color: transparent;
    border: none;
}
.logoImage{
    width: 100%;
    height: 100%;
}
.headerButton{
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: none;
    padding-left: 0px;
    padding-right: 25px;
}
.headerButtonImage{
    color: blue;
}
.buscadorContainer{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
}
.buscador{
    width: 90%;
    height: 30px;
    border: none;
    background-color: transparent;
}
.material-symbols-outlined{
    width: 10%;
    height: 32px;
    padding-left: 7px;
    padding-top: 6px;
    padding-right: 2px;
    background-color: transparent;
}